{% extends "::base-admin.html.twig" %}

{% block content %}

    <p>Voici toutes les utilisateurs enregistrées dans notre BDD : </p>
    <br>
    <table id="table_admin" class="table table-striped text-center display">
        <thead>
        <tr class="listTd">
            <th>Id</th>
            <th>Pseudo</th>
            <th>Email</th>
            {#<th>Rôles</th>#}
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                {#{% for roles in user.roles %}#}
                    {#{% if roles == "ROLE_SUPER_ADMIN"%}#}
                        {#<td>ADMIN</td>#}
                    {#{% endif %}#}
                    {#{% if roles != "ROLE_SUPER_ADMIN"%}#}
                        {#<td>USER</td>#}
                    {#{% endif %}#}
                {#{% endfor %}#}
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn_action dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu ">
                            <li><a href="{{ path("editUsers", {"id": user.id}) }}"><i
                                            class="glyphicon glyphicon-pencil"></i> &nbsp;Editer</a></li>
                            <li><a href="{{ path("deleteUsers", {"id": user.id}) }}"><i
                                            class="glyphicon glyphicon-remove"></i> &nbsp;Supprimer</a></li>

                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}