{% extends "::base-admin.html.twig" %}

{% block content %}

    <p>Voici toutes les petites annonces postées par ordre de publications : </p>
    <br>
    <table id="table_admin" class="table table-striped display dt-center offers-table" data-order='[[1,"desc"]]'>
        <thead>
        <tr class="listTd">
            <th>Id</th>
            <th>Titre</th>
            <th>Catégorie</th>
            <th>Prix</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for offer in offers %}
            <tr>
                <td>{{ offer.id }}</td>
                <td>{{ offer.title }}</td>
                <td>{{ offer.category }}</td>
                <td>{{ offer.price }} € </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn_action dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu ">
                            <li><a href="{{ path("editOffer", {"id": offer.id}) }}"><i
                                            class="glyphicon glyphicon-pencil"></i> &nbsp;Editer</a></li>
                            <li><a href="{{ path("deleteOffer", {"id": offer.id}) }}"><i
                                            class="glyphicon glyphicon-remove"></i> &nbsp;Supprimer</a></li>

                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}