{% extends "::base-admin.html.twig" %}

{% block content %}

    <br>
    <table class="table table-striped text-center">
        <tr class="listTd">
            <td>Id</td>
            <td>Nom de la salle</td>
            <td>Type</td>
            <td>Actions</td>
        </tr>
        {% for liveroom in liverooms %}
            <tr>
                <td>{{ liveroom.id }}</td>
                <td>{{ liveroom.name }}</td>
                <td>{{ liveroom.type }}</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu ">
                            <li><a href="{{ path("editLiveroom", {"id": liveroom.id}) }}"><i
                                            class="glyphicon glyphicon-pencil"></i> &nbsp;Editer</a></li>
                            <li><a href="{{ path("deleteLiveRoom", {"id": liveroom.id}) }}"><i
                                            class="glyphicon glyphicon-remove"></i> &nbsp;Supprimer</a></li>

                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}