{% extends "::base-admin.html.twig" %}

{% block content %}

    <p>Voici toutes les concerts enregistrées dans notre BDD : </p>
    <br>
    <table class="table table-striped text-center">
        <tr class="listTd">
            <td>Id</td>
            <td>Titre</td>
            <td>Date</td>
            <td>Salle</td>
            <td>Actions</td>
        </tr>
        {% for concert in concerts %}
            <tr>
                <td>{{ concert.id }}</td>
                <td>{{ concert.title }}</td>
                <td>{{ concert.date }}</td>
                <td>{{ concert.liveroom }}</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu ">
                            <li><a href="{{ path("editConcert", {"id": concert.id}) }}"><i
                                            class="glyphicon glyphicon-pencil"></i> &nbsp;Editer</a></li>
                            <li><a href="{{ path("deleteConcert", {"id": concert.id}) }}"><i
                                            class="glyphicon glyphicon-remove"></i> &nbsp;Supprimer</a></li>

                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}