{% extends "::base-admin.html.twig" %}

{% block content %}

    <p>Voici toutes les styles de musique enregistrées dans notre BDD : </p>
    <br>
    <a class="btn btn_add_musicCategory" href="{{ path("addMusicCategory") }}">Ajouter style de musique</a>

    <table id="table_admin" class="table table-striped text-center display">
        <thead>
        <tr class="listTd">
            <th>Id</th>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for musicCategory in musicCategories %}
            <tr>
                <td>{{ musicCategory.id }}</td>
                <td>{{ musicCategory.label }}</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn_action dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu ">
                            <li><a href="{{ path("editMusicCategory", {"id": musicCategory.id}) }}"><i
                                            class="glyphicon glyphicon-pencil"></i> &nbsp;Editer</a></li>
                            <li><a href="{{ path("deleteMusicCategory", {"id": musicCategory.id}) }}"><i
                                            class="glyphicon glyphicon-remove"></i> &nbsp;Supprimer</a></li>

                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}